---
layout: default
---
{% include post.html %}

<div class="page-header hidden-md hidden-lg">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="fluid"
       data-ad-layout="image-top"
       data-ad-layout-key="-8a+1n-dw+ep+i2"
       data-ad-client="ca-pub-9019375505713528"
       data-ad-slot="2040664354"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>

{% if site.disqus and page.comments %}
    {% include disqus.html %}
{% endif %}
